<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Home</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">

        <stats number="{{count.newUsers}}" comments="Users" ng-click="notifications.newUsers()" colour="primary" type="user"></stats>
        <stats number="{{count.checkIn}}" ng-click="notifications.checkIn()" comments="Currently Checked-In" colour="green" type="sign-in" data-toggle="modal" data-target="#myModal"></stats>
        <stats number="{{count.checkOut}}" ng-click="notifications.checkout()" comments="Currently Checked-Out" colour="yellow" type="sign-out" data-toggle="modal" data-target="#myModal"></stats>
        <stats number="{{count.late}}" ng-click="notifications.lateUsers()" comments="Late Users" colour="red" type="clock-o" data-toggle="modal" data-target="#myModal"></stats>

    </div>

    <!-- /.panel -->
    <div class="row">
        <div class="col-lg-12">
          <div class="panel panel-default">
            <div class="panel-heading">
              Daily Log
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
              <div class="dataTable_wrapper">
                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Name</th>
                      <th>Position</th>
                      <th>Time</th>
                    </tr>
                  </thead>
                    <tr ng-repeat="row in displayedCollection">
                      <td>{{row.attributes.idNumber}}</td>
                      <td>{{row.attributes.firstName}} {{row.attributes.lastName}}</td>
                      <td>{{row.attributes.position}}</td>
                      <td ng-class="extraLogCheck(row.attributes.time)">{{row.attributes.time}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            <!-- /.panel -->
            </div>
        <!-- /.col-lg-8 -->

        <!-- /.col-lg-4 -->
          </div>
        </div>
    </div>
    <!-- /.row -->
</div>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{modal.title}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                Daily Log
              </div>
              <!-- /.panel-heading -->
              <div class="panel-body">
                <div class="dataTable_wrapper">
                  <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead>
                      <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Position</th>
                        <th ng-hide="isTimeColumnHide">Time</th>
                      </tr>
                    </thead>
                    <tr ng-repeat="row in modal.body">
                      <td>{{row.attributes.idNumber}}</td>
                      <td>{{row.attributes.firstName}} {{row.attributes.lastName}}</td>
                      <td>{{row.attributes.position}}</td>
                      <td ng-hide="isTimeColumnHide">{{row.attributes.time}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>

          </div>
        </div>
      </div>
      </div>
      <div class="modal-footer">

        <button type="button" ng-click="closeModal()" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
