<div class="container" ng-style="coverImage" style="background-color: #cccccc; background-size: cover; overflow-x: hidden; overflow-y: hidden;">
	<div>
	</div>
	<br>
	<div class="row" >
		<div class="col-xs-2 col-sm-2 col-md-2">
			<img ng-src="{{secondaryPhoto}}" style="height: 130px; max-height: 130px;">
		</div>
		<div class="col-xs-2 col-sm-2 col-md-2">
		</div>

		<div class="col-xs-4 col-sm-4 col-md-4">
			<!-- <div ng-if="editReportRequests.length" class="panel panel-default" style="background: white; opacity: 0.8;">
				<div class="panel-heading">
					Edit Report Requests
				</div>
				<div class="panel-body">
					<h1 style="text-align: center; color: red;"><b>{{editReportRequests.length}}</b></h1>
				</div>
			</div> -->
		</div>
		<!-- <div class="col-md-2">

		</div> -->
		<div class="col-xs-4 col-sm-4 col-md-4" style="text-align: right; padding-right: 25px !important;">
			<img ng-src="{{primaryPhoto}}" style="height: 130px; max-height: 130px;">
		</div>
	</div>

	<div ng-hide="isFingerPrintDetected">
		<br>

		<div class="row">
			<div class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3" style="cursor:pointer; background: white; opacity: 0.8; border-radius: 10px; height: 180px; max-height: 180px;" ng-style="clockColor.background" ng-click="redirectToLogin()">
				<div>
					<h1 class="text-center public-clock-time" ng-style="clockColor.text"><b style="font-size: 78px;">{{time}}</b> <b><span ng-if="editReportRequests.length || showNotifcations" style="color: red; font-size: 35px;" class="fa fa-exclamation-triangle"></span></b></h1>
					<h4 class="text-center public-clock-date" ng-style="clockColor.text">{{currentDate}} <span ng-if="isFlashDriveEmpty" style="color: red; font-size: 35px;" class="fa fa-flash"></span></h4>
				</div>
			</div>
		</div>
		<div ng-if="isUserInterval">
			<h1 style="text-align: center; background: gray; border-radius: 10px; height: 180px; max-height: 180px; float: right; position: absolute; z-index: 99; right: 415px; top: 290px; width: 485px; padding: 35px 13px; color: black; border: 2px black solid;">
				<div class="row">
					<div class="col-md-2 col-sm-2">
						<span style="color: yellow; font-size: 45px;" class="fa fa-exclamation-triangle"> </span>
					</div>
					<div class="col-md-10 col-sm-10" style="text-align: left; font-size: 32px;">
						You just logged, Please wait {{timeLeft}} seconds to log again.
					</div>
				</div>
			</h1>
		</div>
		<br>
		<div ng-show="isPublicTable" class="row">
			<div class="col-xs-6 col-sm-6 col-lg-6">
				<div class="panel panel-default" style="background: white; opacity: 0.8;">
					<div class="panel-heading">
						Morning Log
					</div>
					<div class="panel-body">
						<div class="dataTable_wrapper">
							<table class="table table-striped table-bordered table-hover" id="dataTables-example">
								<thead>
									<tr>
										<!-- <th>Id</th> -->
										<th>Name</th>
										<th>Position</th>
										<th>Time</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="row in displayedCollectionAM | limitTo:6 track by $index">
										<!-- <td>{{row.attributes.idNumber}}</td> -->
										<td>{{row.attributes.firstName}} {{row.attributes.lastName}}</td>
										<td>{{row.attributes.position}}</td>
										<td ng-class="extraLogCheck(row.attributes.time)">{{row.attributes.time}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-6 col-sm-6 col-lg-6">
				<div class="panel panel-default" style="background: white; opacity: 0.8;">
					<div class="panel-heading">
						{{pmIdentifier}}
					</div>
					<div class="panel-body">
						<div class="dataTable_wrapper">
							<table class="table table-striped table-bordered table-hover" id="dataTables-example">
								<thead>
									<tr>
										<!-- <th>Id</th> -->
										<th>Name</th>
										<th>Position</th>
										<th>Time</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="row in displayedCollectionPM | limitTo:6 track by $index">
										<!-- <td>{{row.attributes.idNumber}}</td> -->
										<td>{{row.attributes.firstName}} {{row.attributes.lastName}}</td>
										<td>{{row.attributes.position}}</td>
										<td ng-class="extraLogCheck(row.attributes.time)">{{row.attributes.time}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>



	<div ng-show="isFingerPrintDetected">

		<div class="row">
			<div class="col-md-6 col-md-offset-3">

				<div class="panel panel-success" style="background: white; opacity: 0.9;">
					<div class="panel-heading">
						<h3 class="text-center"><b>{{detectedEmployee.time}}</b></h3>
						<h4 class="text-center">{{currentDate}}</h4>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-md-2 col-lg-2">

							</div>
							<div class="col-md-8 col-lg-8" style="text-align:center;">
								<img ng-src="{{detectedEmployee.avatar}}" style="height: 215px; max-height: 215px;">
							</div>
							<div class="col-md-2 col-lg-2">

							</div>
						</div>

						<h4 class="text-center">{{detectedEmployee.firstName}} {{detectedEmployee.lastName}}</h4>
						<h5 class="text-center"><b>Name</b></h5>

						<h4 class="text-center">{{detectedEmployee.position}}</h4>
						<h5 class="text-center"><b>Designation</b></h5>
					</div>
					<div class="panel-footer">
						<div class="row">
							<div class="col-md-6">
								<h4 class="text-center"><b>Log-in:</b> {{detectedEmployee.arrivalAM || detectedEmployee.loginDate || ''}}</h4>
							</div>

							<div class="col-md-6">
								<h4 class="text-center"><b>Break-in:</b> {{detectedEmployee.arrivalPM || ''}}</h4>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<h4 class="text-center"><b>Break-out:</b> {{detectedEmployee.departureAM || ''}}</h4>
							</div>

							<div class="col-md-6">
								<h4 class="text-center"><b>Log-out:</b> {{detectedEmployee.departurePM || detectedEmployee.logoutDate || ''}}</h4>
							</div>
						</div>

					</div>
				</div>

			</div>
		</div>

	</div>


</div>
