<ul class="nav navbar-top-links navbar-right">

    <!-- /.dropdown -->
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
            <li><a ui-sref="public"><i class="fa fa-user fa-fw"></i> Public Dashboard (Kiosk)</a>
            </li>
            <li class="divider"></li>
            <li><a ui-sref="login"><i class="fa fa-sign-out fa-fw"></i> Logout</a>

            <li class="divider">System</li>
            <li><a ng-click="reboot()"><i class="fa fa-rotate-right fa-fw"></i> Reboot</a>

            <li class="divider"></li>
            <li><a ng-click="powerOff()"><i class="fa fa-power-off fa-fw"></i> Power Off</a>




            </li>
        </ul>
        <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
</ul>
