<div class="row">
  <br>
  <div class="col-xs-8">
    <div ng-show="notificationAlert" class="alert alert-success alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      {{notificationAlert}}
    </div>
  </div>
  <div class="col-xs-2">
    <button type="button" class="btn btn-warning btn-block" ng-click="rebootDevice()" data-toggle="modal" data-target="#rebootModal">Reboot</button>
  </div>
  <div class="col-xs-2">
    <button type="button" class="btn btn-danger btn-block" ng-click="powerOffDevice()" data-toggle="modal">Power Off</button>
  </div>

</div>
<hr>

<div class="row">
  <div class="col-xs-6 col-lg-6 col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Admin Profile
      </div>
      <div class="panel-body">

        <div class="form-group">
          <label for="exampleInputName2">New Password</label>
          <input type="password" class="form-control" ng-model="adminProfile.newPassword" placeholder="************">
        </div>

        <div class="form-group">
          <label for="exampleInputName2">Confirm Password</label>
          <input type="password" class="form-control" ng-model="adminProfile.confirmPassword" placeholder="************">
        </div>

        <div class="form-group">
          <button type="button" class="btn btn-primary btn-block" ng-click="updateAdminProfile()">Save</button>
        </div>

      </div>
      <!-- /.panel-body -->
    </div>
  </div>
  <div class="col-xs-6 col-lg-6 col-lg-6">
    <p><b>Admin Profile</b> - This section is for setting the admin's credentials (default: admin)</p>
  </div>
</div>
    <br>
<div class="row">
  <div class="col-xs-6 col-lg-6 col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          WIFI Credentials
        </div>
        <div class="panel-body">

          <div class="form-group">
            <label for="exampleInputName2">SSID</label>
            <input type="text" class="form-control" ng-model="wifiCredentials.ssid" placeholder="SSID">
          </div>

          <div class="form-group">
            <label for="exampleInputName2">Password (at least 8 characters)</label>
            <input type="text" class="form-control" ng-model="wifiCredentials.wifiPassword" placeholder="Password">
          </div>

          <div class="form-group">
            <button type="button" class="btn btn-primary btn-block" ng-click="updateWifiCredentials()" data-toggle="modal" data-target="#wifiSaveModal">Save</button>
          </div>

        </div>
        <!-- /.panel-body -->
      </div>
  </div>
  <div class="col-xs-6 col-lg-6 col-lg-6">
    <p><b>Wifi Credentials</b> - This section is for setting wifi credentials such as SSID and Password, You need to reboot the hardware device for changes to take effect.</p>
  </div>
</div>

    <br>
<div class="row">
  <div class="col-xs-6 col-lg-6 col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Application Profile
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label for="exampleInputName2">Name: </label>
          <input type="text" class="form-control" ng-model="companyName" placeholder="Ex: Company Name">
        </div>

        <div class="form-group" ng-show="hardwareType === 'generic'">
          <label for="exampleInputName2">Enable DTR Header Customizable: </label>
          <select class="form-control" ng-model="isDTRHeaderCustomizable">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </div>

        <div ng-if="isDTRHeaderCustomizable == 'true'">
          <div class="form-group">
            <label for="exampleInputName2">Subtitle 1: </label>
            <input type="text" class="form-control" ng-model="companyNameSubtitles.primary" placeholder="Ex: Address">
          </div>

          <div class="form-group">
            <label for="exampleInputName2">Subtitle 2: </label>
            <input type="text" class="form-control" ng-model="companyNameSubtitles.secondary" placeholder="Ex: Contact Information">
          </div>
        </div>

        <div class="form-group">
          <label for="exampleInputName2">In Charge: </label>
          <input type="text" class="form-control" ng-model="inCharge" placeholder="Ex: Admin Name">
        </div>
        <hr>
        <div class="form-group">
          <label for="exampleInputName2">Show Total Time: </label>
          <select class="form-control" ng-model="isShowTotalTime">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </div>

        <div class="form-group" ng-show="hardwareType === 'generic'">
          <label for="exampleInputName2">Enable Overtime Hours: (<em>*Requires a reboot for changes to take effect.</em>)</label>
          <select class="form-control" ng-model="enableOvertimeOption">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </div>

        <div class="form-group" ng-show="hardwareType === 'generic'">
          <label for="exampleInputName2">Enable Date Range: </label>
          <select class="form-control" ng-model="enableDateRange">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </div>
        <hr>
        <div class="form-group">
          <label for="exampleInputName2">Time: </label><br>
          <button type="button" class="btn btn-success btn-block btn-outline" ng-click="synchronizeTime()">Sync</button>
        </div>

        <hr>

        <div class="form-group" ng-show="hardwareType === 'generic'">
          <label for="exampleInputName2">Enable Two Logs Option: (<em>*Requires a reboot for changes to take effect.</em>)</label>
          <select class="form-control" ng-model="isTwoLogsEnable">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </div>

        <div class="form-group" ng-show="hardwareType === 'generic'">
          <label for="exampleInputName2">Enable Cut-off Time: (<em>*Requires a reboot for changes to take effect.</em>)</label>
          <select class="form-control" ng-model="isCutOffTime">
            <option value="true">Yes</option>
            <option value="false">No</option>
          </select>
        </div>

        <div class="form-group" ng-if="isCutOffTime === 'true'">
          <label for="exampleInputName2">PM Logs Cut-off Time (24-hour format, <em>*needs reboot to take effect</em>): </label><br>
          <!-- <ng-timepicker ng-model="timeSettings.lateTime" init-time="timeSettings.lateTime"></ng-timepicker> -->
          <input type="number" max="23" min="0" ng-model="timeSettings.cutoffTime.hours" /> : <input type="number" min="0" max="59" ng-model="timeSettings.cutoffTime.minutes" /><br>
        </div>
        <hr>
        <div class="row">

            <div class="col-xs-6 col-md-6 col-lg-6">
              <div class="form-group">
                <label for="exampleInputName2">AM Late Time: </label><br>
                <!-- <ng-timepicker ng-model="timeSettings.lateTime" init-time="timeSettings.lateTime"></ng-timepicker> -->
                <input type="number" max="11" min="1" ng-model="timeSettings.tmpLateTime.hours" /> : <input type="number" min="0" max="59" ng-model="timeSettings.tmpLateTime.minutes" /> AM<br>
              </div>
            </div>

            <div class="col-xs-6 col-md-6 col-lg-6">
              <div class="form-group">
                <label for="exampleInputName2">PM Late Time: </label><br>
                <!-- <ng-timepicker ng-model="timeSettings.lateTime" init-time="timeSettings.lateTime"></ng-timepicker> -->
                <input type="number" max="11" min="1" ng-model="timeSettings.tmpLateTimePM.hours" /> : <input type="number" min="0" max="59" ng-model="timeSettings.tmpLateTimePM.minutes" /> PM<br>
              </div>
            </div>
        </div>

        <br>

        <div class="form-group">
          <button type="button" class="btn btn-primary btn-block" ng-click="updateApplicationProfile()">Save</button>
        </div>

      </div>
      <!-- /.panel-body -->
    </div>
  </div>
  <div class="col-xs-6 col-lg-6 col-lg-6">
    <p><b>Application Profile</b> is for changing the details and information on the application such as school or company's name. The field "In Charge", will be reflected on the generated report.</p>
      <p>The Show Total Time gives you the option to show the computed total time per day and monthly, this is during the generation of reports.</p>
      <p>Pressing the "Sync" button in the time setting gives you the ease to synchronize the application with the current date and time of your computer. The "Late Time" input, is for monitoring the tardiness of the users.</p>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-6 col-lg-6 col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Color Themes
      </div>
      <div class="panel-body">

        <div class="form-group">
          <label for="inputEmail3" class="control-label">Side Bar Background </label>
          <select class="form-control" ng-model="colorThemes.sideBarBackground">
            <option value="#f5f5f5">Gray</option>
            <option value="#e74c3c">Red</option>
            <option value="#2ecc71">Green</option>
            <option value="#3498db">Blue</option>
            <option value="#9b59b6">Violet</option>
            <option value="#f1c40f">Yellow</option>
            <option value="#141414">Black</option>
            <option value="white">White</option>
          </select>
        </div>

        <div class="form-group">
          <label for="inputPassword3" class="control-label">Side Bar Text </label>

          <select class="form-control" ng-model="colorThemes.sideBarText">
            <option value="#f5f5f5">Gray</option>
            <option value="#e74c3c">Red</option>
            <option value="#2ecc71">Green</option>
            <option value="#3498db">Blue</option>
            <option value="#9b59b6">Violet</option>
            <option value="#f1c40f">Yellow</option>
            <option value="#141414">Black</option>
            <option value="white">White</option>
          </select>
        </div>

        <div class="form-group">
          <label for="inputPassword3" class="control-label text-left">Header Background </label>
          <select class="form-control" ng-model="colorThemes.headerBackground">
            <option value="#f5f5f5">Gray</option>
            <option value="#e74c3c">Red</option>
            <option value="#2ecc71">Green</option>
            <option value="#3498db">Blue</option>
            <option value="#9b59b6">Violet</option>
            <option value="#f1c40f">Yellow</option>
            <option value="#141414">Black</option>
            <option value="white">White</option>
          </select>
        </div>

        <div class="form-group">
          <label for="inputPassword3" class="control-label text-left">Header Text</label>
          <select class="form-control" ng-model="colorThemes.headerText">
            <option value="#f5f5f5">Gray</option>
            <option value="#e74c3c">Red</option>
            <option value="#2ecc71">Green</option>
            <option value="#3498db">Blue</option>
            <option value="#9b59b6">Violet</option>
            <option value="#f1c40f">Yellow</option>
            <option value="#141414">Black</option>
            <option value="white">White</option>
          </select>
        </div>

        <div class="form-group">
          <label for="inputPassword3" class="control-label text-left">Clock Background </label>
          <select class="form-control" ng-model="colorThemes.clockBackground">
            <option value="#f5f5f5">Gray</option>
            <option value="#e74c3c">Red</option>
            <option value="#2ecc71">Green</option>
            <option value="#3498db">Blue</option>
            <option value="#9b59b6">Violet</option>
            <option value="#f1c40f">Yellow</option>
            <option value="#141414">Black</option>
            <option value="white">White</option>
          </select>
        </div>

        <div class="form-group">
          <label for="inputPassword3" class="control-label text-left">Clock Text</label>
          <select class="form-control" ng-model="colorThemes.clockText">
            <option value="#f5f5f5">Gray</option>
            <option value="#e74c3c">Red</option>
            <option value="#2ecc71">Green</option>
            <option value="#3498db">Blue</option>
            <option value="#9b59b6">Violet</option>
            <option value="#f1c40f">Yellow</option>
            <option value="#141414">Black</option>
            <option value="white">White</option>
          </select>
        </div>

        <br>
        <div class="form-group">
          <button type="button" class="btn btn-primary btn-block" ng-click="updateColorThemes()">Save</button>
        </div>
      </div>
      <!-- /.panel-body -->
    </div>
  </div>

  <div class="col-xs-6 col-lg-6 col-lg-6">
    <p><b>Color Theme Settings</b> lets you customize the color around the application such as sidebar and header</p>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-6 col-lg-6 col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Custom Avatars
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-6 text-center">
            <span><b>Primary Logo (Max: 2MB)</b></span>
            <br><br>
            <img ng-show="previewImage1" ng-src="{{previewImage1}}" style="height: 120px;">
            <img ng-hide="previewImage1" ng-src="{{defaultProfPic}}" style="height: 120px;">
            <br><br>
            <file-field ng-model="uploadFilePrimary" preview="previewImage1">Select File</file-field>
            <button type="button" class="btn btn-primary btn-block" ng-click="updateAvatarPrimary()">Save</button>
          </div>
          <div class="col-xs-6 text-center">
            <span><b>Secondary Logo (Max: 2MB)</b></span>
            <br><br>
            <img ng-show="previewImage2" ng-src="{{previewImage2}}" style="height: 120px;">
            <img ng-hide="previewImage2" ng-src="{{defaultProfPic}}" style="height: 120px;">
            <br><br>
            <file-field ng-model="uploadFileSecondary" preview="previewImage2">Select File</file-field>
            <button type="button" class="btn btn-primary btn-block"  ng-click="updateAvatarSecondary()">Save</button>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-xs-12 text-center">
            <span><b>Cover Image (Max: 2MB)</b></span>
            <br><br>
            <img ng-show="previewImage3" ng-src="{{previewImage3}}" style="height: 150px;">
            <img ng-hide="previewImage3" ng-src="{{defaultProfPic}}" style="height: 150px;">
            <br><br>
            <file-field ng-model="uploadFileCover" preview="previewImage3">Select File</file-field>
            <button type="button" class="btn btn-primary btn-block"  ng-click="updateCoverImage()">Save</button>
          </div>
        </div>
      </div>
      <!-- /.panel-body -->
    </div>
  </div>
  <div class="col-xs-6 col-lg-6 col-lg-6">
    <p><b>Custom Avatars</b> can change the primary, secondary, and background cover logo of your application.</p>
  </div>

</div>
<br>
<div class="row">
  <div class="col-xs-6 col-lg-6 col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        User Table Format
      </div>
      <div class="panel-body">
        <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped table-bordered">
          <thead>
            <tr class="noBorder">

              <td colspan="1"><input class="form-control" ng-model="userTableFormat.field" placeholder="Column Name" type="text"/></td>
              <td colspan="1">
                <select  class="form-control" ng-model="userTableFormat.type" ng-change="changedValue(sortSelected)"
                data-ng-options="sortList as sortList.name for sortList in sortLists">
                <option value=""></option>
              </td>
              <td>
                <button type="button" ng-click="addUserTableField()" class="btn btn-sm btn-success">
                  <i class="glyphicon glyphicon-plus">
                  </i> Add Field
                </button>
              </td>

            </tr>

            <tr>
              <th st-sort="attributes.fingerPrintId">Field</th>
              <th st-sort="attributes.firstName">Type</th>
              <th>Action</th>
            </tr>

          </thead>
          <tbody>
            <tr ng-repeat="row in displayedCollection track by $index">
              <td>{{row.field}}</td>
              <td>{{row.type}}</td>
              <td><button class="btn btn-sm btn-danger" ng-click="selectUserField(row)" data-toggle="modal" data-target="#myModal">
                <i class="fa fa-pencil-square-o">
                </i></button>
              </td>
              <!-- <td>
              <button type="button" ng-click="removeItem(row)" class="btn btn-sm btn-danger">
              <i class="glyphicon glyphicon-remove-circle">
            </i>
          </button>
        </td> -->
      </tr>
      <tr ng-hide="displayedCollection.length > 0">
        <td colspan="3" class="text-center">Empty Table List.</td>
      </tr>

    </tbody>
  </table>
</div>
<!-- /.panel-body -->
</div>
  </div>
  <div class="col-xs-6 col-lg-6 col-lg-6">
    <p><b>User Table Format</b> lets you add custom fields on the user info.</p>
  </div>

</div>
<br>
<div class="row">
  <div class="col-xs-6 col-lg-6 col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        Database Back-up and Restore
      </div>
      <div class="panel-body">


        <button type="button" class="btn btn-danger btn-block" ng-click="backupDatabase('export')">Back-up Database</button>


        <button type="button" class="btn btn-success btn-block" ng-click="backupDatabase('import')">Restore Database</button>
        <br>
        <hr>

        <div class="row">
          <div class="col-xs-6 col-lg-6 col-md-6">
            <label for="">Time: </label>
            <input type="number" max="23" min="0" ng-model="timeSettings.backupTime.hour" /> : <input type="number" min="0" max="59" ng-model="timeSettings.backupTime.minute" />
          </div>

          <div class="col-xs-6 col-lg-6 col-md-6">
            <button type="button" class="btn btn-primary btn-block" ng-click="updateBackupTime()" data-toggle="modal" data-target="#wifiSaveModal">Save</button><br>
          </div>
        </div>
        <div ng-show="notificationAlert" class="alert alert-success alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          {{notificationAlert}}
        </div>



      </div>
      <!-- /.panel-body -->
    </div>
  </div>

  <div class="col-xs-6 col-lg-6 col-lg-6">
    <p><b>Database Back-up and Restore</b> will let you backup database manually and automatically. </p><p>You can manually do backup by clicking "Back-up Database", and you can manually restore by clicking "Restore Database". And you can set the scheduled automatic backup by specifying the time, and click "Save" Button</p>
    <p>* You need to reboot the hardware device for changes to take effect.</p>
  </div>

</div>
<br>
<hr>
<div class="row">
  <div class="col-xs-6 col-lg-6 col-md-6">
    <div class="col-xs-6 col-lg-6 col-md-6">
      <div class="">Application Version <b>{{applicationVersion}}</b></div>
    </div>
    <div class="col-xs-6 col-lg-6 col-md-6">
      <button type="button" class="btn btn-warning btn-block" data-toggle="modal" ng-click="updateSoftware()" data-target="#updateSoftwareModal">Update Software</button>
    </div>
  </div>
  <div class="col-xs-6 col-lg-6 col-md-6">

  </div>

</div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{modal.title}}</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete?</p>

      </div>
      <div class="modal-footer">
        <button type="button" ng-click="deleteUserField()" class="btn btn-danger" data-dismiss="modal">Delete</button>
        <button type="button" ng-click="closeModal()" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="updateSoftwareModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Update Software</h4>
      </div>
      <div class="modal-body">
        <p ng-if="!isUpgradeSoftwareDone || !isUpgradeSoftwareError">Upgrading Software...Please Wait (Do not close this window)</p>
        <p ng-if="isUpgradeSoftwareDone">Success: Upgrade Done!</p>
        <p ng-if="isUpgradeSoftwareDone">Please reboot the system to apply the changes..</p>
        <p ng-if="isUpgradeSoftwareError">Failed: Software update files not found! Please check Flash-Drive, Reboot then try again...</p>
      </div>
      <div class="modal-footer">
        <button ng-if="isUpgradeSoftwareDone" type="button" class="btn btn-danger" ng-click="rebootDevice()" data-dismiss="modal">Reboot Now</button>
        <button ng-if="isUpgradeSoftwareDone" type="button" class="btn btn-default" data-dismiss="modal">Reboot Later</button>
        <button ng-if="isUpgradeSoftwareError" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div id="wifiSaveModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Settings</h4>
      </div>
      <div class="modal-body">
        <p>You need to reboot for changes to take effect.</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<br>

<div id="rebootModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">System</h4>
      </div>
      <div class="modal-body">
        <p>Device Rebooting. Please refresh this page when device finishes booting.</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button><br>
      </div>
    </div>

  </div>
</div>
